/* 애니메이션 효과 */
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;        
}

.slide-in-bottom2 {
	-webkit-animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-bottom3 {
	-webkit-animation: slide-in-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 2.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* 공통css */
body {
  font-family: "Pretendard Variable", sans-serif;
  word-break: keep-all;
  display: block;
}

iframe{
  border-radius: 10px;
  object-fit: contain;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hover12{
width: 6em!important; 
margin-right: 0.1em!important; 
cursor:pointer;
}

.nav-link:focus, .nav-link:hover{
  color: #faf200!important;
}

.page-title {
  margin-bottom: 20px;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.3;
  color: #350239;
  text-align: center;
}
.page-subtitle {
  width: 240px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border: 5px solid #262632a5;
  border-radius: 30px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  color: #5f028d;
}
.Qbtn {
  max-width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 42px;
  line-height: 1.4;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
  padding: 15px;
}
.Qbtn-btn1 { /* 모의체험하기 */
  background-color: #0d6dfb;
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  color: #FFFFFF;
}
.Qbtn-btn1:active {
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  transform: translateY(10px);
}
.Qbtn-btn2 { /*모의체험 링크 공유하기  */
  background-color: #0d6dfb;
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  color: #FFFFFF;
}
.Qbtn-btn2:active {
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  transform: translateY(10px);
}
.Qbtn-btn3 { /* 모의체험 */
  background-color: #F2F4F6;
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  color: #444444;
}
.Qbtn-btn3:hover{
  color: black!important;
}
.Qbtn-btn3:active {
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  transform: translateY(10px);
}

.Qbtn-small {
  max-width: 350px;
  height: 70px;
  margin-bottom: 30px;
  font-size: 26px;
}

.Qbtn:hover{
  color: #faf200;
}

.Cbtn{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: 0.1s;
  padding: 15px;
  font-size: 20px;
  height: 2.5em;
  width: 4em;
  background-color: #0d6dfb;
  box-shadow: rgb(87 112 222) 0px 3px 10px;
  color: #FFFFFF;
}

.Cbtn:hover{
  color: #faf200;
}

.container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.navbar{
  margin-bottom: 20px;
}

.row-cols-md-3{
	margin-bottom: 22px;
	padding-left: 40px;
	padding-right: 40px;
}

.circle{
	width: 15em; 
	height: 15em; 
	border-radius: 50%;
	display: flex; 
	align-items: center;
	margin-top: 1em; 
	background-color: #46AAFF; 
	line-height: 10em;
}

.card, .card-body{
	diplay: flex;
    flex-direction: column;
	align-items: center;
}

.card-rsquare{
	width:10em; 
	height:4em; 
	border-radius: 20px; 
	text-align:center;
 	background-color: #000000; 
 	color: yellow; 
 	line-height: 4em; 
 	margin-bottom:1em;
}

.card-text{
	text-align: center;
}

.h-100-check {
	height: 250%!important;
}

.img-responsive{
	width: inherit;
}

.col-sub{
	margin-top: 22px;
	margin-bottom: 22px;
}

.col-Vi{
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly;
}

.table-group-divider{
	border-bottom: 2px solid currentcolor;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: currentcolor;
}

.panel{
	width:75%; 
	height:90%;
}

.col-sm-1{
	display:flex; 
	justify-content:center;
}

.row-B{
	display: flex;
	justify-content: center;
	align-items: cetner;
}

.h-100{
	border-radius: 10px!important;
}

.myPage{
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	align-items: center; 
	margin-top: 10px; 
	margin-bottom: 10px;
}

.align-items-center{
	width: 35em; 
	height: 15em; 
	flex-direction: column; 
	padding-top: 40px;
}

.align-items-center-2{
	width: 25em; 
	height: 15em; 
	flex-direction: column;
	
}

.main-d{
	justify-content: space-evenly; 
	align-items:center; 
	margin-bottom: 5em; 
	padding-bottom: 10em; 
	height: 60%;
}

/* 미디어쿼리 */
/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
	.align-items-center{
	width: 35em; 
	height: 15em; 
	flex-direction: column; 
	}
	
	.align-items-center-2{
	width: 25em; 
	height: 15em; 
	flex-direction: column;

	}
} 

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) {
  .circle{
	width: 13em; 
	height: 10em; 
	border-radius: 50%;
	display: flex; 
	align-items: center;
	margin-top: 1em; 
	background-color: #46AAFF; 
	line-height: 10em;
  }
  
} 

/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
	
  body{
  	margin-bottom: 10%!important;
  }	
	
  #preven{
  	height: 148%!important;
  }
  
  .row, .col{
  	display: flex;
  	justify-content: center;
  	align-items: cetner;
  	flex-direction: column;
  }
  
  .row-B{
  	display: flex;
  	justify-content: center;
  	align-items: cetner;
  }
  
  .container-fluid{
  	height: fit-content!important;
  }
  
  .d-flex{
    flex-direction: column!important;
    align-items: center;
  }
  
  .col-sub{
    margin-bottom: 70px;
  }

  .col-sm-1{	
  	display:flex; 
  	justify-content: center;
  }

  .panel{
  	width: 75%;
  	height: 105%;
  }
  
  .col-Vi{
	display: flex; 
	flex-direction: column; 
	justify-content: space-evenly;
  }
  
  .align-items-center{
	margin-bottom: 5em;
  }
  
  .align-items-center-2{
	padding-top: 5em;
	margin-bottom: 5em;
  }
  
  .CmBoard{
	width: 100%!important;
  }
  
  .main-d{
	padding-bottom: 0;
	margin-bottom: 35em; 
  }
}

@media all and (max-width:479px){
	html{
		display: flex;
		justify-contetn: center;
	}
	
	body{
		width: 100%;
		height: 100%;
	}
	
	.align-items-center{
		width: 20em; 
		height: 15em; 
		flex-direction: column; 
		padding-top: 5em;
		margin-bottom: 5em;
	}

	.align-items-center-2{
		width: 20em; 
		height: 15em; 
		flex-direction: column;
		margin-bottom: 5em;
	}
	
	.character{
		margin-bottom: 110px;
	}
	
	.Qbtn{
		font-size: 40px;
	}
	
	.Qbtn-Rs{
		font-size: 30px;
	}
	
	.Qbtn-Login{
		font-size: 25px;
	}
	
	.progress{
		height: 1.8em!important;
	}

	.main-d{
		padding-bottom: 0;
		margin-bottom: 30em; 
	}
	
}

