<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="kr.board.mapper.BoardMapper">

 <select id="boardList2" resultType="kr.board.entity.Board"> 
      select * from board
  </select>
  
  <insert id="boardInsert2" parameterType="kr.board.entity.Board">
    insert into board(title, content, writer, mem_id)
 	values (#{title},#{content},#{writer},#{mem_id})
  </insert>
  
  <select id="boardContent2" parameterType="int" 
      resultType="kr.board.entity.Board"> 
      select * from board where idx=#{idx}
  </select>
  
  <update id="boardUpdate2" parameterType="kr.board.entity.Board">
      update board set title=#{title}, content=#{content}
      where idx=#{idx}
  </update>

  <delete id="boardDelete2" parameterType="int">     
      delete from board where idx=#{idx}
  </delete>

  <update id="boardContentUpdate2" parameterType="kr.board.entity.Board">
      update board set content=#{content} where idx=#{idx}
  </update>
  
  
    
   <!-- 커뮤니티 2  ####################-->  
  <select id="CmboardList" resultType="kr.board.entity.TblCommunity"> 
      select * from tbl_community
  </select>
  
  <insert id="CmboardInsert" parameterType="kr.board.entity.TblCommunity">
    insert into tbl_community(commTitle, commContent, commWriter, mem_id)
 	values (#{commTitle},#{commContent},#{commWriter},#{mem_id})
  </insert>
  
  <select id="CmboardContent" parameterType="int" 
      resultType="kr.board.entity.TblCommunity"> 
      select * from tbl_community where commIdx=#{commIdx}
  </select>
  
  <update id="CmboardUpdate" parameterType="kr.board.entity.TblCommunity">
      update tbl_community set commTitle=#{commTitle}, commContent=#{commContent}
      where mem_id=#{mem_id}
  </update>

  <delete id="CmboardDelete" parameterType="int">     
      delete from tbl_community where commIdx=#{commIdx}
  </delete>

  <update id="CmboardContentUpdate" parameterType="kr.board.entity.TblCommunity">
      update tbl_community set commContent=#{commContent} 
      where commIdx=#{commIdx}
  </update>
  
  <update id="CmupdateCount" parameterType="kr.board.entity.TblCommunity">
   	  update tbl_community set commViews=commViews+1 
   	  where commIdx=#{commIdx}
  </update>
  	
  
  
  
  <!-- 커뮤니티 1  -->  
<!--   <select id="boardList" resultType="kr.board.entity.Board"> 
      select * from vp112
  </select>
  
  <insert id="boardInsert" parameterType="kr.board.entity.Board">
    insert into vp112(title, content, writer, mem_id)
 	values (#{title},#{content},#{writer},#{mem_id})
  </insert>
  
  <select id="boardContent" parameterType="int" 
      resultType="kr.board.entity.Board"> 
      select * from vp112 where idx=#{idx}
  </select>
  
  <update id="boardUpdate" parameterType="kr.board.entity.Board">
      update vp112 set title=#{title}, content=#{content}
      where idx=#{idx}
  </update>

  <delete id="boardDelete" parameterType="int">     
      delete from vp112 where idx=#{idx}
  </delete>

  <update id="boardContentUpdate" parameterType="kr.board.entity.Board">
      update vp112 set content=#{content} 
      where idx=#{idx}
  </update>
  
  <update id="updateCount" parameterType="kr.board.entity.Board">
       update vp112 set count=count+1 
       where idx=#{idx}
  </update> -->

</mapper>
